**QUEST I-** Write a Python program to check if a given positive integer is a power of three.

In [ ]:
n = int(input('number : '))
if n % 3 == 0:
    print(f'{n} is a power of three.')
else:
    print(f'{n} is not a power of three.')

**QUEST II-** Write a Python program to check if a number is a perfect square

In [ ]:
n = int(input('number : '))
sq = int(n**0.5)
if sq**2 == n:
    print(f'{n} is a perfect square')
else:
    print(f'{n} is not a perfect square')

# **QUEST III-** Write a Python program to check if an integer is the power of another integer

In [ ]:
def pow (a , b):
    while a % b ==0:
        a /= b
    return a == 1

In [ ]:
pow(125, 5)

**QUEST IV-** Write a Python program to find the single number in a list that doesn't occur twice.

In [ ]:
ls = [1, 2, 3, 4, 5, 6, 7, 3]
ls1 = []
for i in ls:
    if i % 2 != 0:
        if ls.count(i) == 1:
            ls1.append(i)
        
ls1

**QUEST V-** Write a Python program to find the length of the last word.

In [ ]:
sentence = input('give me a sentence please! : ').strip().strip('.?!;,')
print(f'the length of the last word: {len(sentence.split()[-1])}')

**QUEST VI-** Print the two lists given with their sequence numbers



```
Countries=["Turkey","Italy","Spain","Portugal","France"]
Capitals=["Ankara","Rome","Madrid","Lisbon","Paris"]```

Expected output:0 Turkey Ankara

In [ ]:
Countries=["Turkey","Italy","Spain","Portugal","France"]
Capitals=["Ankara","Rome","Madrid","Lisbon","Paris"]

n = 0
while n < len(Countries):
    print(n, Countries[n], Capitals[n])
    n+=1

**QUEST VII-** The Fibonacci sequence is a series of numbers where a number is the addition of the last two numbers, starting with 0, and 1.

The Fibonacci Sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55â€¦

Written as a rule, the expression is:

Xn = Xn-1 + Xn-2

Write a Python program to find the Fibonacci number corresponding to the sequence number entered by the user

In [ ]:
n = int(input('number: '))
n1 = n
ls = [0, 1]
while n != 0:
    ls.append(ls[-1]+ls[-2])
    n-=1

print(f'Fibonacci number corresponding to the sequence {n1} : {ls[-1]}')

**QUEST VIII-** Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

Sample Output: {1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
n = int(input())
a = 1
dic = {}
while a < n+1:
    dic[a]=a**2
    a+=1
dic

In [ ]:
type(dic)

**QUEST IX-** Write a Python program to construct the following pattern, using a nested for loop

Expected output


```
+
++
+++
++++
+++++
++++
+++
++
+
```

In [ ]:
n = int(input())
ch = ''
for i in range( n*2):
    if i < n:
        ch = ch+'*'
        print(ch)
    else:
        ch = ch[:-1]
        print(ch)

**QUEST X-** Write a Python program to calculate a dog's age in dog's years.
* Note:  

*   For the first two years, a dog year is equal to 10.5 human years.
*   After that, each dog year equals 4 human years

In [ ]:
age = float(input('Enter age of your dog: '))
if age < 2:
    print(f"dog's years: {10.5*age}")
else:
    print(f"dog's years: {21+(age-2)*4}")

##### **QUEST XI-** Write a Python program to display the sign of the Chinese Zodiac for given year in which you were born

***QUEST XII-*** Write a Python program to construct the following pattern, using a nested loop number

Expected output


```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [ ]:
n = int(input('Give me a number please: '))
for i in range(1, n+1):
    print(i*str(i))

**QUEST XIII-** Write a Python function to find the Max of three numbers

In [ ]:
ls = []
print('Give me three numbers please ')
for i in range(3):
    nums = int(input(f'number{i+1} : '))
    ls.append(nums)
print(F'Max of three numbers: {max(ls)}')

**QUEST XIV-** Write a Python function to multiply all the numbers in a list

In [ ]:
ls = [1, 2, 3, 4, 5, 6]
num = 1
for i in ls:
    num *=i
print(num)

**QUEST XV-** Write a Python program to reverse a string.


`Sample String : "1234abcd"`

`Expected Output : "dcba4321"`

In [ ]:
s = input()
s1 = ''
ls = []
for i in range(1, len(s)+1):
    s1+=s[-i]
    
s1

In [ ]:
set1 = {1, 2, 3}
set2 = set1
set2.add(4)
print(set1)

In [ ]:
set1

In [ ]:
x = 1
y = x
x = 2
y

In [ ]:
list1 = [1,2,3,3,3,3,4]
list2 = list1.copy()
print(list2.append(5))

**QUEST XVI-** Write a Python function that takes a list and returns a new list with unique elements of the first list

For Example:

`list1 = [1,2,3,3,3,3,4]`

expected output:

`[1, 2, 3, 4, 5]`

In [ ]:
def unique_list(ls):
    return list(set(ls))

In [ ]:
list1 = [1,2,3,3,3,3,4,4,4,4]
unique_list(list1)

**QUEST XVII-** Write a Python program to print the odd numbers from a given list

In [ ]:
ls = [1, 3, 4, 5, 6, 43, 77, 88, 22]
ls1 = []
for i in ls:
    if i % 2 != 0:
        ls1.append(i)
ls1

In [ ]:
ls = [1, 3, 4, 5, 6, 43, 77, 88, 22]
ls1 = [i for i in ls if i % 2 != 0]
ls1

**QUEST XVIII-** Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included)

In [ ]:
for i in range(2000, 3201):
    if i%7 == 0 and i%5 != 0:
        print(i)

**QUEST XIX-** Write a program which can compute the factorial of a given numbers

In [ ]:
n = int(input('Give me a number: '))
a = 1
result = 1
while a < n+1:
    result*=a
    a+=1
print(f'{n}! = {result}')

In [ ]:
import numpy
given_number = int(input("give a number"))
lista = range(1,given_number+1)
print(numpy.prod(lista))

**QUEST XX-** Write a program to find if a three-digit number is an Armstrong Number.

A positive integer is called an Armstrong number of order n if


```
abcd... = an + bn + cn + dn + ...
```
In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:




153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

In [ ]:
n = input('Give me a three-digit number: ')
if int(n[0])**3 + int(n[1])**3 + int(n[2])**3 == int(n):
    print(n, 'is an Armstrong number.')
else:
    print(n, 'is not an Armstrong number.')

In [ ]:
0**1

**QUEST XXI-** Write a program to find the numbers divisible by another number and display it.

For examples: 

`list1 = [12, 65, 54, 39, 102, 339, 221] `

let's say we are looking to see if the elements in the list are divisible by 13

expected output:

`Numbers divisible by 13 are [65, 39, 221]`

In [ ]:
list1 = [12, 65, 54, 39, 102, 339, 221]
ls = []
n = int(input('Give me a number: '))
for i in list1:
    if i % n == 0:
        ls.append(i)
        ls.sort()
print(f'Numbers divisible by {n} are {ls}')

In [ ]:
list1 = [12, 65, 54, 39, 102, 339, 221]
a = int(input('please give division number: '))
result = list(filter(lambda x: x % a == 0, list1))
print(f"Numbers divisible by {a} are",result)

**QUEST XXII-** Write a program to sort the words in alphabetic order and display it

For examples:

`str1 = "happy holidays for all clarusway members"`

expected output:

```
all
clarusway
for
happy
holidays
members
```

In [ ]:
s = input('Give me a sentence: ').strip().lower()
ls = s.split()
ls.sort()
for i in ls:
    print(i)
print(type(ls))

In [ ]:
num_list = [12, 65, 54, 39, 102, 339, 221]
div_num = int(input("Enter a number: "))
new_numlist = []
for i in num_list:
    if i % div_num == 0:
        new_numlist.append(i)
        new_numlist.sort()
print(f"Numbers divisible by {div_num} are {new_numlist}")

**QUEST XXIII-** Write a program to sort a dictionary by value

For examples:

`dict1 = {7:4, 13:6, 6:9}`

expected output:

`{7: 4, 13: 6, 6: 9}`

In [ ]:
d = {7:55, 13:44, 6:99, 'a':22, 'b':66}
ls = list(d.values())
ls2 = []
for i in range(len(d)):
    min_ls = min(ls)
    ls.remove(min_ls)
    for j in d.items():
        if j[1] == min_ls:
            ls2.append(j)
dict(ls2)

In [ ]:
dict1 = {7:4, 13:6, 6:9}
dict2 = dict([(value,key) for key, value in dict1.items()])
dict(sorted(dict2.items()))

In [ ]:
dict1 = {7:55, 13:44, 6:99}
dict(sorted(dict1.items(), key = lambda a : a[1]))

**QUEST XXIV-** Write a program that takes a string. If the string is all uppercase characters, convert it to lowercase


`"UPS.. SORRY I FORGET CAPS LOCK ON"` âžž `"sorry i forgot caps lock on"`

In [ ]:
s = input('Give me a sentence: ').strip().lower()
s

In [ ]:
str1 = "UPS.. SORRY I FORGET CAPS LOCK ON"
print(str1)
str2 =""
for i in str1:
    if ord(i)>= 97 and ord(i)<= 122:
        print("hepsi bÃ¼yÃ¼k girilmemiÅŸ")
        str2 = ""
        break
    else:
        str2 += i.lower()
        print(i)
print(str2)

In [ ]:
txt1 = input('say something ') 
def lower1(txt):
  if txt.isupper():
    return txt.lower().capitalize()
  else:
    return txt
print(lower1(txt1))

**QUEST XXV-** Write a Python program to construct the following pattern

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [ ]:
n = int(input('Give me a number: '))
a = 1
while a < n+1:
    for i in range(1, a+1):
        print(i, end = " ")
    print()
    a+=1

In [ ]:
n = int(input('Give me a number: '))
for i in range(1, n+1):
    print(*range(1, i+1))

**QUEST XXVI-** Write a program to accept number from user and calculate the sum of all number from 1 to a given number

For example, if user entered 10 the output should be 55

(10+9+8+7+6+5+4+3+2+1 = 55)

In [ ]:
n = int(input('Give me a number: '))
result = 0
for i in range(1, n+1):
    result+=i
print(f'sum of 1-{n} = {result}')

In [ ]:
n = int(input('Give me a number: '))
a = 1
result = 0
while a < n+1:
    result+=a
    a+=1
print(f'sum of 1-{n} = {result}')

In [1]:
import datetime
start = datetime.datetime.now()

finish = datetime.datetime.now()
print(finish-start)

0:00:00.000141

In [11]:
start = datetime.datetime.now()

n = 100000000
result = 0
for i in range(1, n+1):
    result+=i
print(f'sum of 1-{n} = {result}')

finish = datetime.datetime.now()
print(finish-start)

sum of 1-100000000 = 5000000050000000
0:00:17.904215

In [12]:
start = datetime.datetime.now()

n = 100000000
a = 1
result = 0
while a < n+1:
    result+=a
    a+=1
print(f'sum of 1-{n} = {result}')

finish = datetime.datetime.now()
print(finish-start)

sum of 1-100000000 = 5000000050000000
0:00:44.347996

**QUEST XXVII-** Write a Python program to construct the following pattern

```
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

In [13]:
n = int(input('Give me a number: '))
for i in range(n, 0, -1):
    print(*range(i, 0, -1))

Give me a number: 9
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [14]:
n = int(input('Give me a number: '))
ls = list(range(1, n+1))
ls.reverse()
a = 0
while a < n:
    for i in ls[a:]:
        print(i, end = ' ')
    print()
    a+=1

Give me a number: 9
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**QUEST XXVIII-** Write a program which display the cube of the number up to a given integer

For Example: 

`num1 = 6`

Expected output:

```
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
```

In [18]:
n = int(input('Give me a number: '))
for i in range(1, n+1):
    print(f'Current Number is : {i}  and the cube is {i**3}')

Give me a number: 1
Current Number is : 1  and the cube is 1

**QUEST XXIX-** Write a program to split a given string on hyphens into several substrings and display each substring

For Examples :

`str1 = "Emre-is-a-data-scientist"`

Expected output:
```
Emre
is
a
data
scientist
```

In [21]:
str1 = "Emre-is-a-data-scientist"
ls = list(str1.split('-'))
for i in ls:
    print(i)

Emre
is
a
data
scientist

In [ ]:
str1 = "Emre-is-a-data-scientist"
start = 0
end = 0
for i in str1:
    if i == '-':
        print(str1[start:end])
        end+=1
        start = end
    elif '-' not in str1[start:]:
        print(str1[start:])
        break  
    else:
        end+=1

In [19]:
str1 = "Emre-is-a-data-scientist"
for i in range(len(str1)):
    if str1[i] != "-":
        print(str1[i], end="")
    else:
        i += 1
        print()

Emre
is
a
data
scientist

In [20]:
str2 = "Emre-is-a-data-scientist"
words = str2.replace("-", " ").split()
print(words)
for word in words:
  print(word)

['Emre', 'is', 'a', 'data', 'scientist']
Emre
is
a
data
scientist

**QUEST XXX-** Write a function that prints the salary and employee name from the user

For Example:
```
name: emre

price: 5000
Employee emre salary is: $ 5000
```

In [ ]:

name = input('Your name: ')
salary = input('Your salary: ')
print(f"Employee {name}'s salary is: $ {salary}")

In [22]:
def sallary(name = input('Your name: '), salary = input('Your salary: ')):
    print (f"Employee {name}'s salary is: $ {salary}")

Your name: emre
Your salary: 5000

In [23]:
sallary()

Employee emre's salary is: $ 5000

In [32]:
def Employee(name = input('Name: '), salary = int(input('Price: '))):
    print("Employee", name, "salary is:", '$',salary)

Name: emre
Price: 43532

In [33]:
Employee()

Employee emre salary is: $ 43532