**QUEST I-** Write a Python program to check if a given positive integer is a power of three.

In [6]:
n = int(input('number : '))
if n % 3 == 0:
    print(f'{n} is a power of three.')
else:
    print(f'{n} is not a power of three.')

number : 1548798654458487524156658985215748456646
1548798654458487524156658985215748456646 is not a power of three.

**QUEST II-** Write a Python program to check if a number is a perfect square

In [16]:
n = int(input('number : '))
sq = int(n**0.5)
if sq**2 == n:
    print(f'{n} is a perfect square')
else:
    print(f'{n} is not a perfect square')

number : 400
400 is a perfect square

**QUEST III-** Write a Python program to check if an integer is the power of another integer

In [19]:
n = int(input('number : '))
sq = int(n**0.5)
if sq == n**0.5:
    print(f'{n} is the power of {sq}')
else:
    print(f'{n}  is not the power of another integer')

number : 64
64 is the power of 8

**QUEST IV-** Write a Python program to find the single number in a list that doesn't occur twice.

**QUEST V-** Write a Python program to find the length of the last word.

**QUEST VI-** Print the two lists given with their sequence numbers



```
Countries=["Turkey","Italy","Spain","Portugal","France"]
Capitals=["Ankara","Rome","Madrid","Lisbon","Paris"]```

Expected output:0 Turkey Ankara

**QUEST VII-** The Fibonacci sequence is a series of numbers where a number is the addition of the last two numbers, starting with 0, and 1.

The Fibonacci Sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55â€¦

Written as a rule, the expression is:

Xn = Xn-1 + Xn-2

Write a Python program to find the Fibonacci number corresponding to the sequence number entered by the user

**QUEST VIII-** Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

Sample Output: {1: 1, 2: 4, 3: 9, 4: 16}

**QUEST IX-** Write a Python program to construct the following pattern, using a nested for loop

Expected output


```
+
++
+++
++++
+++++
++++
+++
++
+
```

**QUEST X-** Write a Python program to calculate a dog's age in dog's years.
* Note:  

*   For the first two years, a dog year is equal to 10.5 human years.
*   After that, each dog year equals 4 human years

**QUEST XI-** Write a Python program to display the sign of the Chinese Zodiac for given year in which you were born

***QUEST XII-*** Write a Python program to construct the following pattern, using a nested loop number

Expected output


```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

**QUEST XIII-** Write a Python function to find the Max of three numbers

**QUEST XIV-** Write a Python function to multiply all the numbers in a list

**QUEST XV-** Write a Python program to reverse a string.


`Sample String : "1234abcd"`

`Expected Output : "dcba4321"`

**QUEST XVI-** Write a Python function that takes a list and returns a new list with unique elements of the first list

For Example:

`list1 = [1,2,3,3,3,3,4]`

expected output:

`[1, 2, 3, 4, 5]`

**QUEST XVII-** Write a Python program to print the odd numbers from a given list

**QUEST XVIII-** Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included)

**QUEST XIX-** Write a program which can compute the factorial of a given numbers

**QUEST XX-** Write a program to find if a three-digit number is an Armstrong Number.

A positive integer is called an Armstrong number of order n if


```
abcd... = an + bn + cn + dn + ...
```
In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:



```
153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.
```

**QUEST XXI-** Write a program to find the numbers divisible by another number and display it.

For examples: 

`list1 = [12, 65, 54, 39, 102, 339, 221] `

let's say we are looking to see if the elements in the list are divisible by 13

expected output:

`Numbers divisible by 13 are [65, 39, 221]`

**QUEST XXII-** Write a program to sort the words in alphabetic order and display it

For examples:

`str1 = "happy holidays for all clarusway members"`

expected output:

```
all
clarusway
for
happy
holidays
members
```

**QUEST XXIII-** Write a program to sort a dictionary by value

For examples:

`dict1 = {7:4, 13:6, 6:9}`

expected output:

`{7: 4, 13: 6, 6: 9}`

**QUEST XXIV-** Write a program that takes a string. If the string is all uppercase characters, convert it to lowercase


`"UPS.. SORRY I FORGET CAPS LOCK ON"` âžž `"sorry i forgot caps lock on"`

**QUEST XXV-** Write a Python program to construct the following pattern

```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

**QUEST XXVI-** Write a program to accept number from user and calculate the sum of all number from 1 to a given number

For example, if user entered 10 the output should be 55

(10+9+8+7+6+5+4+3+2+1 = 55)

**QUEST XXVII-** Write a Python program to construct the following pattern

```
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
```

**QUEST XXVIII-** Write a program which display the cube of the number up to a given integer

For Example: 

`num1 = 6`

Expected output:

```
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216
```

**QUEST XXIX-** Write a program to split a given string on hyphens into several substrings and display each substring

For Examples :

`str1 = "Emre-is-a-data-scientist"`

Expected output:
```
Emre
is
a
data
scientist
```

**QUEST XXX-** Write a function that prints the salary and employee name from the user

For Example:
```
name: emre

price: 5000
Employee emre salary is: $ 5000
```