**Quest I**
Remove all [ ] arguments in this list and write a program that compares the original and filtered values



`list = [5, 6, [], 3, [], [], 9]`

In [ ]:
list_a = [5, 6, [], 3, [], [], 9]   # Alp
for i in range(list_a.count([])):
    list_a.remove([])
print(list_a)

In [ ]:
list = [5, 6, [], 3, [], [], 9]  # Öznur 
print("The original list ist : {}".format(list))
filt_value =[]
for i in range(0,len(list)):
  if isinstance(list[i],int) == 1 : # isinstance 
    filt_value.append(list[i])
print("The List after removing is : {}".format(filt_value))

In [ ]:
list = [5, 6, [], 3, [], [], 9]  # Öznur II
list_new =[]
for i in list:
  if list.count(i)== 1:
    list_new.append(i)
print(f"{list}\n{list_new}")

In [5]:
list_1 = [5, 6, [], 3, [], [], 9] # Selman

for i in range(list_1.count([])):
    list_1.remove([])

print(list_1)

[5, 6, 3, 9]

In [ ]:
  list_1 = [5, 6, [], 3, [], [], 9] # Nadire
 
  #list_1.remove([])
  #del list_1[2]
  list_1.pop(2)
  list_1.pop(3)
  list_1.pop(3)
  list_2 = list_1
  list_1_begin = [5, 6, [], 3, [], [], 9]
  for place in list_1_begin:
    print("comparing %s with %s: %s" %(place, list_2, place == list_2))

In [ ]:
list1 = [5, 6, [], 3, [], [], 9]  # Emre
  
#original 
print("The original list is : " + str(list1))
  
# Remove empty List from List
# using filter method
list2 = list(filter(None, list1))
  
# printing result 
print ("List after empty list removal : " + str(list2))

**Quest II**
Add item 7000 after 6000 in the following Python List



```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]```

In [10]:
# Doğrusunu öğrenmeden önce    # Alp
#list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#list1.remove([300, 400, [5000, 6000], 500])
#list1.insert(2, [300, 400, [5000, 6000, 7000], 500])
#print(list1)
# Doğrusunu öğrendikten sonra
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list1 =[10, 20, [300, 400, [5000, 6000], 500], 30, 40] # Öznur
list1[2][2].insert(2,7000) 
print(list1)

In [ ]:
list1 =[10, 20, [300, 400, [5000, 6000], 500], 30, 40] # Öznur II
list1[2][2].extend([7000])
print(list1)

In [13]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000) # Selman
list1

[10, 20, [300, 400, [5000, 6000, 7000, 7000, 7000, 7000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2, 7000) # Selman II
list1

In [14]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40] # Nadire
list_2 = [300, 400, [5000,6000,7000]]
list1.pop(2)
list1.insert(2, list_2)

print(f'Current  List is : {list1}')

Current  List is : [10, 20, [300, 400, [5000, 6000, 7000]], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40] # Emre
list1[2][2].append(7000)
print(list1)

**Quest III**
Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list (should be alphabetical)



```
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
```

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]   # Alp
list1[2][1][2].append(["h", "i", "j"])
print(list1)

In [ ]:
list2 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"] # Öznur
list2[2][1][2].insert(2,["h","i","j"])
print(list2)

In [ ]:
list1[2][1][2].extend(["h", "i", "j"]) # Selman
list1

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"] # Nadire

list1[2][1][2].extend([["h", "i", "j"]])
print(f'Current  List is : {list1}')

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"] # Emre
subList = ["h", "i", "j"]

list1[2][1][2].extend(subList)
print(list1)

**Quest IV**
Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value



```
list1 = [5, 10, 15, 20, 25, 50, 20]
```

In [15]:
#stack overflow   # Alp
list1 = [5, 10, 15, 20, 25, 50, 20]
for n, i in enumerate(list1):
  if i == 20:
    list1[n] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 200]

In [24]:
list_3 =[5, 10, 15, 20, 25, 50, 20] # Öznur
for i in range (0,len(list_3)):
  if list_3[i] != 20:
      i += 1
  else :
      list_3[i] = 200
      print(list_3)
      break

[5, 10, 15, 200, 25, 50, 20]

In [28]:
list_3 =[5, 10, 15, 20, 25, 50, 20] # Öznur II
index =list_3.index(20) # index komutu bir kere çalışır ilk değişimi yaptıktan sonra durur
list_3[index] = 200
print(list_3)

[5, 10, 15, 200, 25, 50, 20]

In [29]:
list1 = [5, 10, 15, 20, 25, 50, 20] # Selman
x = 0
for i in list1:
    if i == 20:
        list1[x] = 200
        break
    else:
        x +=1
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [33]:
list1 = [5, 10, 15, 20, 25, 50, 20] # Nadire
for x in list1:
    if x == 20:
      print(str(list1).replace("20", "200")) 
      break

[5, 10, 15, 200, 25, 50, 200]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20] # Emre

index1 = list1.index(20)
list1[index1] = 200
print(list1)

**Quest V**
Fill in the blanks in the python definition [If you don't know the definition is here >>>>]https://www.python.org/doc/essays/blurb/


```
WiP = ["Python", "is",  "an","........", "........", "........","......."]```

In [34]:
#Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.     # Alp
WiP = ["Python", "is",  "an","........", "........", "........","......."]
WiP[3:] = ["interpreted", "object-oriented",  "high-level programming language", "with dynamic semantics"]
print(WiP)

['Python', 'is', 'an', 'interpreted', 'object-oriented', 'high-level programming language', 'with dynamic semantics']

In [35]:
ls1= ["Python", "is",  "an","........", "........", "........","......."] # Selman
print(ls1)
print('Fill in the blanks!')
for i in range(3,7):
    blank = input()
    ls1[i] = blank
print(ls1)

['Python', 'is', 'an', '........', '........', '........', '.......']
Fill in the blanks!
interpreted
object-oriented
fdfd
fd
['Python', 'is', 'an', 'interpreted', 'object-oriented', 'fdfd', 'fd']

In [36]:
#Python is an interpreted, object-oriented, high-level programming language # Nadire
wip = ["Python", "is",  "an", "........", "........","......."]
wip.insert(3,"interpreted")
wip.insert(3,"object-oriented")
wip.insert(3," high-level")
wip.insert(3," programming language")
wip.remove("........")
wip.remove("........")
wip.remove('.......')


print(wip)

['Python', 'is', 'an', ' programming language', ' high-level', 'object-oriented', 'interpreted']

In [ ]:
WiP = ["Python", "is",  "an","........", "........", "........","......."] # Emre

del WiP[3:7] 


WiP2 = ["interpreted", "object-oriented", "programming", "language" ]
WiP.extend(WiP2)
print(WiP)

**Quest VI**

Write a program that checks if the number entered by the user is an number from the list



```
n = [1,2,3,4,5,6,7]
```

In [41]:
x = int(input("Write a number: "))  # Alp
n = [1,2,3,4,5,6,7]
for i in list(n):
  if x != i:
    print(f"{x} is in my list!")
    break
  else:
    print(f"{x} is not in my list!")

Write a number: 7

TypeError: ignored

In [ ]:
n = [1,2,3,4,5,6,7] # Öznur
inp = int(input("Enter a number : "))
if inp in n:
  print("The number is in the liste!!!")
else:
  print("Schade Marmalade!!!")

In [37]:
n = [1,2,3,4,5,6,7] # Öznur II
inp = int(input("Enter a number : "))
while inp not in (n):
  inp = int(input("Enter another number : "))
  if inp in n:
    print("The number is in the liste!!!")

Enter a number : 9
Enter another number : 11
Enter another number : 7
The number is in the liste!!!

In [38]:
n = [1,2,3,4,5,6,7] # Selman
num = int(input('Enter a number: '))
result = num in n
print(result)

Enter a number: 7
True

In [ ]:
n = [1,2,3,4,5,6,7] # Selman II
num = int(input('Enter a number: '))
if num in n:
    print(f'your number {num} is in the list')
else:
    print(f'your number {num} is not in the list')

In [ ]:
num = input("enter a number") # Nadire
n = [1,2,3,4,5,6,7]
if num in n:
  print("right")
else:
  print("try again")

In [ ]:
a = int(input("Give me a number ")) # Emre


n = [1,2,3,4,5,6,7]

if a in n:
    print("yes")
else :
    print("no")

In [39]:
name = "not_aneta" # Öznur Ekstra I
while name!= "aneta":
  name = input("What is my name? ")
  if name == "aneta":
    print ("You guessed my name!")

What is my name? emre
What is my name? aneta
You guessed my name!

**Optional Quest I** **(Solving this quest is not mandatory)**

Concatenate two lists index-wise (You must use for loop and zip() method )



```
list1 = ["M", "na", "i", "Clarus"] 
list2 = ["y", "me", "s", "way"]
```

In [44]:
list1 = ["M", "na", "i", "Clarus"]  # Alp
list2 = ["y", "me", "s", "way"]
list3 = list(zip(list1, list2))
for i, n in list3:
  print(i + n)

TypeError: ignored

In [43]:
list4 = ["M", "na", "i", "Clarus"] # Öznur
list5 = ["y", "me", "s", "way"]
x =zip(list4, list5)
print(list(x))
print([i+j for i,j in zip(list4, list5)])

TypeError: ignored

In [47]:
def func(x,y): # Öznur II
  return x+y
concat = map(func,list4,list5)#The map () function is going to apply the given function on all the items inside the iterator 
                              #and return an iterable map object i.e a tuple, a list, etc
print(list(concat))

TypeError: ignored

In [46]:
x =lambda a,b :a+b #A lambda function is a small anonymous function.  # Öznur III
result = map(x,list4,list5)#https://www.w3schools.com/python/python_lambda.asp
for word in result:
    print(word,end= " ")

My name is Clarusway

In [ ]:
list1 = ["M", "na", "i", "Clarus"] # Selman
list2 = ["y", "me", "s", "way"]
ls = []
for x, y in zip(list1, list2):
    ls.append(x+y)
ls

In [48]:
list1 = ["M", "na", "i", "Clarus"] # Selman II
list2 = ["y", "me", "s", "way"]
list3 = []
n = 0
while n<len(list1):
    list3.append(list1[n]+list2[n])
    n+=1
print(list3)

['My', 'name', 'is', 'Clarusway']

In [61]:
list1 = ["M", "na", "i", "Clarus"] # Nadire
list2 = ["y", "me", "s", "way"]


for index in range(len(list1)):
  for index in range(len(list2)):
   print(str(list1[index]+list2[index]), end=" ")
#print(list((list1[0] + list2[0]+" "+list1[1] + list2[1]+" "+list1[2] + list2[2]+" " +list1[3] + list2[3])))

My name is Clarusway My name is Clarusway My name is Clarusway My name is Clarusway

In [ ]:
list1 = ["M", "na", "i", "Clarus"] # Emre
list2 = ["y", "me", "s", "way"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

**Quest VII** 

You are a teacher. Write a program that prints students' grades in letters.

![1.PNG]()

For example, if a student scored 73, the letter grade should be C

In [ ]:
score = int(input("What is your score?: "))   #Alp
if 96 <= score <= 100:
  print("Your grade is A+")
elif 90 <= score < 96:
  print("Your grade is A")
elif 80 <= score <= 89:
  print("Your grade is B")
elif 70 <= score <= 79:
  print("Your grade is C")
elif 60 <= score <= 69:
  print("Your grade is D")
elif 0 <= score <= 79:
  print("Your grade is C")

In [63]:
scr = int(input('Score: ')) # Selman
if scr<60:
    s = 'F'
elif scr<70:
    s = 'D'
elif scr<80:
    s = 'C'
elif scr<80:
    s = 'B'
elif scr<90:
    s = 'A'
else:
    s = 'A+'
print(f'Letter Grade: {s}')

Score: 96
Letter Grade: A+

In [ ]:
score = int(input("Write your score please : ")) # Nadire
if score in range(96,100):
  print("Your grade is A+")
elif score in range(90,95):
  print("Your grade is A")
elif score in range(80,89):
  print("Your grade is B")
elif score in range(70,79):
  print("Your grade is C")
elif score in range(60,69):
  print("Your grade is D")
elif score in range(0,59):
  print("Your grade is F")

In [62]:
grade= int(input("enter sdutent's score ")) # Emre
if grade >= 96: 
    print("A+")
elif grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >= 60:
    print("D")
else:
    print("F")

enter sdutent's score 96
A+

**Quest VIII**

Create a simple calculator which can perform basic arithmetic operations like addition, subtraction, multiplication or division depending upon the user input.

In [ ]:
x1 = int(input("Write your first number: "))   # Alp
x2 = int(input("Write your second number: "))
x3 = input("What is your arithmetic operation symbol? (+, -, *, /): ")
if x3 == "+":
  print(x1 + x2)
elif x3 == "-":
  print(x1 - x2)
elif x3 == "*":
  print(x1 * x2)
elif x3 == "/":
  print(x1 / x2)

In [64]:
x = int(input("Enter the first number : ")) # Öznur
op = str(input("Enter the operator number : "))
y = int(input("Enter the second number : "))

def cal(x,y):
  if op == "+":
      return x+y
  elif op== "-" :
      return x-y
  elif op == "*":
      return x*y
  elif op == "/":
      return x/y 
print(cal(x,y))

Enter the first number : 5
Enter the operator number : +
Enter the second number : 5
10

In [ ]:
x = float(input('first number: ')) # Selman
opr = input('Arithmetic operation(sum/min/mul/div): ')
y = float(input('second number: '))

if opr == 'sum':
    result = x+y
elif opr == 'min':
    result = x-y
elif opr == 'mul':
    result = x*y
elif opr == 'div':
    result = x/y
print(f'Result: {result}')

In [ ]:
# This function adds two numbers  # Nadire
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # Take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # Check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        break
    else:
        print("Invalid Input")

In [ ]:
num1 = input("enter number I: ") # Emre
sig = input("enter sig: ")
num2 = input("enter number II: ")

square = float(num1) ** float(num2)
add= float(num1) + float(num2)
subtract = float(num1) - float(num2)
multiply= float(num1) * float(num2)
divide= float(num1) / float(num2)

if sig == "+":
    print(add)
elif sig == "-":
    print(subtract)
elif sig == "*":
    print(multiply)
elif sig == "/":
    print(divide)
elif sig == "**":
    print(square)
else:
    print("error")